@media (prefers-color-scheme: light) {
	body {
		background: #B8B8B8;
		color: #3C3C3C;
	}
	a:hover {
		color: white;
	}
	h2 a:hover, h3 a:hover {
  		color: white;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: #3C3C3C;
		color: #B8B8B8;
	}
	a:hover {
		color: black;
	}
	h2 a:hover, h3 a:hover {
  		color: black;
	}
}

a {
	color: #9999ff;
}

a:visited {
	color: #6666ff;
}

.links {
	display: flex;
}

i {
	width: 50px;
	height: 50px;
	margin: auto 3px;
}
